#content {
    font: 14px 'Arial'; 
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

#question-box {
    background-color: lightgrey;
    padding: 10px 0;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;

    align-items: center;
}

.question-row{
    display: flex;
}

.question-text{
    padding: 10px;
    font: 28px 'Arial';
}


form{
    display: flex;
}

input {
    /* flex-grow: 1; */
    font-size: 28px;
    width: 100px;
}

#roadmap {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.roadmap-button {
    border: none;
    background: none;

    background-color: lightgrey;
    /* Modern blue */
    color: black;
    /* padding-bottom: 20px; */
    /* padding-top: 20px; */

    padding: 12px 24px;
    /* Big click area */
    border-radius: 4px;
    /* Rounded corners */
    font-size: 16px;
    /* font-weight: bold; */
}

.roadmap-button:hover {
    background-color: grey;
}

#logo {
    font: 14px "Arial";
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
}